{% extends "product_catalog/base.html" %}
{% load i18n %}

{% block catalog_content %}
    <h2>{%  trans "Product" %}: {{ product.title }}</h2>

    {% if FRONT_MANAGEMENT %}
    <a href="{% url 'product_catalog:product_update' product.id %}">{% trans 'Update product' %}</a>
    <a href="{% url 'product_catalog:product_delete' product.id %}">{% trans 'Delete product' %}</a>
    {% endif %}

    {% if product.image %}
    <p><img src="{{ product.image.url }}" alt="{{ product.image_caption }}" /></p>
    {% endif %}
    <p>{{ product.content }}</p>

    {%  trans "Categories" %}:
    {% for category in product.categories.all %}
        <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    {%  trans "Tags" %}:
    {% load taggit_templatetags2_tags %}
    {% get_tags_for_object product as "tags" %}


    <ul>

    {% if product.previous_entry %}
        <li><a href="{% url 'product_catalog:product_detail' product.previous_entry.slug %}">prev</a></li>
    {% endif %}

    <li><a href="{% url 'product_catalog:product_list' %}">{% trans "back to the product list" %}</a></li>


    {% if product.next_entry %}
        <li><a href="{% url 'product_catalog:product_detail' product.next_entry.slug %}">next</a></li>
    {% endif %}
    </ul>

{% endblock %}

